/* CSS files add styling rules to your content */

* {
    scrollbar-color: white blue !important;
    scrollbar-width: thin !important;
  }

  ::-moz-selection {
    /* Code for Firefox */
    color: white;
    background: blue;
  }
  ::selection {
    color: white;
    background: blue;
  }
  ::-webkit-scrollbar {
    width: 0.2em;
    background-color: blue;
  }
  ::-webkit-scrollbar-thumb {
    background-color: white;
  }

body {
    font-family: Times New Roman, serif;
    /*font-family: helvetica, arial, sans-serif;*/
    margin: 2.5em 3em;
    line-height: 1.6;
    font-size: 12pt;
}

.header {
    font-family: Times New Roman, serif;
    color: blue;
    margin: 0;
    font-weight: normal;
    font-size: 17pt;
    line-height: 2;
}

.header a,
.header a:active {
    color: blue;
    text-decoration: none;
    margin: 0;
    padding: 0;
    transition: 0.8s;
}

.header a:hover {
    color: grey;
}

.link a, .link a:visited, .link a:active {
    color: blue;
    text-decoration: none;
}

.link a:hover {
    text-decoration: underline;
}

h2 {
    color: blue;
    margin: 0;
    font-weight: normal;
    font-size: 17pt;
}

#main {
    width: 100%;
}

.container {
    display: grid;
    grid-template-columns: 150px 1fr;
}

#visualMain #nav {
    width: 120px;
    height: 1000px;
    float: left;
}

#nav ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

#nav a {
    text-decoration: none;
    color: grey;
    transition: 0.8s;
}

#nav a:hover {
    color: gainsboro;
    text-decoration: none;
}

#nav a:active {
    color: blue;
}

#contents {
    width: 100%;
}

.rainText {
    padding-left: 15px;
}

/* stream grid */

#blocks {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
    align-items: flex-end;
    justify-content: flex-end;
}

#blocks p {
    color: blue;
    transition: 0.8s;
}

.block {
    border: 0.5px solid blue;
    height: 200px;
    position: relative;
}

.block .box {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.box {
    color: blue;
    text-align: center;
}

#blocks a:hover p {
    color: grey;
}

#homeImg {
    display: block;
    width: 500px;
    margin: 0 auto;
}

/* ONE GRID */

#oneBlocks {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 20px;
    align-items: flex-end;
    justify-content: flex-end;
}

.oneBlock p {
    color: blue;
    transition: 0.8s;
}

.oneBlock {
    min-height: 100px;
    position: relative;
}

.oneBlock iframe {
    border: 0.5px solid blue;
}

.textOneBlock {
    border: 0;
    min-height: 100px;
    max-width: 500px;
    line-height: 1.6;
    position: relative;
    color: black;
}

.oneBlock .oneBox {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.oneBox {
    color: blue;
    text-align: center;
}

#oneBlocks a:hover p {
    color: grey;
}

/* THREE GRID */

#threeBlocks {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 0 0;
    align-items: flex-end;
    justify-content: flex-end;
}

#threeBlocks p {
    color: blue;
    transition: 0.8s;
}

#threeBlocks figure {
    width: 65%;
}

#threeBlocks img,
#threeBlocks video {
    width: 100%;
}

#threeBlocks figcaption, .captionHome {
    color: grey;
    font-size: 10pt;
    text-align: center;
    padding: 10px 0 0;
    margin: 0;
}

.threeBlock {
    min-height: 250px;
    position: relative;
}

.threeBlock .threeBox {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.threeBox {
    color: blue;
    text-align: center;
}

#threeBlocks a:hover p {
    color: grey;
}



/* other screens */

@media(min-width: 1900px) {
    body {
        font-family: Times New Roman, serif;
        /*font-family: helvetica, arial, sans-serif;*/
        margin: 2.5em 3em;
        line-height: 1.6;
        font-size: 15pt;
    }

    #nav {
        width: 170px;
    }


    .header {
        font-size: 19pt;
    }

    #blocks {
        grid-template-columns: repeat(8, 1fr);
    }

    .block {
        height: 200px;
    }

    #threeBlocks {
        grid-template-columns: repeat(4, 1fr);
        gap: 70px 10px;
    }

    .threeBlock {
        min-height: 300px;
        width: 70%;
    }

    #threeBlocks figure {
        width: 70%;
    }

}

@media(max-width: 800px) {
    #main {
        width: 100%;
    }

    .container {
        display: grid;
        grid-template-columns: 1fr;
    }

    #nav,
    #visualMain #nav {
        width: 80px;
        float: left;
    }

    #contents {
        width: 100%;
        padding-top: 15px;
    }

    .rainText {
        padding-left: 0;
    }

    #blocks,
    #threeBlocks {
        grid-template-columns: repeat(1, 1fr);
        gap: 50px;
    }

    #threeBlocks figure {
        width: 70%;
    }

    #nav,
    #visualMain #nav {
        margin-bottom: 60px;
        float: none;
        width: 100%;
    }

    li {
        float: left;
        padding-right: 15px;
    }

    li a {
        display: block;
    }


}

@media only screen and(max-device-width: 566px) {
    #main {
        width: 100%;
    }
    /*
    #nav,
    #visualMain #nav {
      width: 100px;
      float: left;
    }
  */

    .container {
        display: grid;
        grid-template-columns: 1fr;
    }

    #contents {
        width: 100%;

    }

    #blocks,
    #threeBlocks {
        grid-template-columns: repeat(1, 1fr);
        gap: 50px;
    }

    #threeBlocks figure {
        width: 70%;
    }

    .block {
        height: 100px;
    }

    #nav,
    #visualMain #nav {
        padding-bottom: 15px;
        float: none;
        width: 100%;
    }

    .rainText {
        padding-left: 0;
    }

    li {
        float: left;
        padding-right: 15px;
    }

    li a {
        display: block;
    }

    .newreleaseimg {
        width: 100%;
    }
}
